{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UBONYC</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <link rel="stylesheet" href="{% static "/uboapp/css/blueimp-gallery.min.css" %}">

        <link rel="stylesheet" href="{% static "/uboapp/css/style.css" %}">

        <style>
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size :0.85em;
            font-family : arial;
            background-color : #F8F8F8;
            }
        </style>
    </head>
    <body>

    <script src="{% static "/uboapp/js/ubo.js" %}"></script>

      <div id="container" class="center-div">
          <div class="title-div">
          <div class="menumain" style="text-align:center">UGLY BUILDINGS OF NEW YORK CITY</div>
          </div>

          <div id="init_div"><div style="vertical-align : middle; display : table-cell; text-align : center"><P>UGLY BUILDINGS OF NEW YORK CITY (UBO) RATES REAL ESTATE DEVELOPMENTS COMPLETED AFTER 2000 BASED ON THEIR DESIGN.</P><p>IT IS INTENDED TO GIVE NEW YORKERS AND TOURISTS ALIKE A WAY TO VOICE THEIR OPINION REGARDING THE DESIGN OF THESE NEW CONSTRUCTIONS</p></div></div>

              <div id="content-div">

                  <div id="top_gallery" style="float:top"><a onclick="slideshow();" href="#"><img id="galleryfront" src="" width = "100%"></a></div>

                  <div class="data_container">

                      <div class="data_title"><p>----- BUILDING DATA -----</p></div>

                                <div class="table">
                                    <div class="row">
                                        <div class="cell" style="width:120px">Address : </div>
                                        <div class="cell" id="street"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Class : </div>
                                        <div class="cell" id="buildingclass"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Year built : </div>
                                        <div class="cell" id="year"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Stories : </div>
                                        <div class="cell" id="stories"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Residential units : </div>
                                        <div class="cell" id="res_units"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Commercial units : </div>
                                        <div class="cell" id="com_units"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Structure type : </div>
                                        <div class="cell" id="structure_type"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Grade : </div>
                                        <div class="cell" id="grade"></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">Construction type : </div>
                                        <div class="cell" id="construction_type"></div>
                                    </div>

                                    <div class="row">
                                        <div class="cell">Area : </div>
                                        <div class="cell" id="area"></div>
                                    </div>

                                    <div class="row">
                                        <div class="cell">Lot size : </div>
                                        <div class="cell" id="lotsize"></div>
                                    </div>

                                    <div class="row">
                                        <div class="cell">Market value : </div>
                                        <div class="cell" id="marketvalue"></div>
                                    </div>
                                </div>
                  </div>

                  <div class="rating_section">
                    <div class="data_title"><p>----- RATINGS -----</p></div>

                    <div class="rating_details"><div style="margin-bottom :4px">UBO RATINGS (<text id="ratingscount">0</text>) :</div>

                                <div class="table">
                                    <div class="row">
                                        <div class="cell" style="width:20px">5 *</div>
                                        <div class="cell"><div class="rating_bar" id="rating_five"></div></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">4*</div>
                                        <div class="cell"><div class="rating_bar" id="rating_four"></div></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">3 *</div>
                                        <div class="cell"><div class="rating_bar" id="rating_three"></div></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">2*</div>
                                        <div class="cell"><div class="rating_bar" id="rating_two"></div></div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">1*</div>
                                        <div class="cell"><div class="rating_bar" id="rating_one"></div></div>
                                    </div>
                                </div>
                    </div>

                    <div class="rating_grade">
                        <div id="rating_digits"></div>
                        <div><img id="rating_image" height="20" src="{% static "/uboapp/stars/stars_00.png"%}"></div>
                        <div style="font-size:1.2em; margin-top:10px" id="rating_label"></div>

                    </div>

</div>
                    <div class="voteform">
                    <p>----- RATE ! -----</p>
                                <form action="/create_post/" method="POST" id="post-form">
                                {% csrf_token %}
                                Comment: <input type="text" id="post-text"><br>
                                <input type="submit" value="submit">
                                </form>
                    </div>

    </div>


    <div id="map" class="map-div">

    <script src="{% static "/uboapp/js/js_map.js" %}"></script>

	<script>





      function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 40.720398, lng: 	-73.973944},
                      zoom: 13
                    });



                    var opened_window = new google.maps.InfoWindow({
                      content: "null"
                    });

                    {% for building in buildings %}
                            var marker{{ building.id }} = new google.maps.Marker({
                            position: {lat: {{ building.latitude }},
                            lng: {{ building.longitude }}},
                            map: map,

                            });


                            var contentString{{ building.id }} =
                                '<div class="voteform">'+
                                '<p>----- RATE ! -----</p>' +
                                '<form action="/your-name/" method="post">' +
                                '<input type="radio" name="gender" value="1">1 - Acceptable<br>' +
                                '<input type="radio" name="gender" value="2">2 - Shows signs of ugliness<br>' +
                                '<input type="radio" name="gender" value="3">3 - Eye Sore<br>' +
                                '<input type="radio" name="gender" value="4">4 - Offensive<br>' +
                                '<input type="radio" name="gender" value="5">5 - Truly Ugly&#8482<br>' +
                                '<div  style="text-align: center;"><input type="submit" value="SUBMIT"></div>' +
                                '</form>' +
                                '</div>'+
                                '<div class="bubble-div">'+
                                '<a onclick="slideshow(\'' + '{{ building.image.image }}' + '\')" href="#"><img height="100px" src="media/{{ building.image.image }}" alt="Orange"></a>'+
                                '</div>'

                            var infowindow{{ building.id }}= new google.maps.InfoWindow({
                              content: contentString{{ building.id }}
                            });


                            var test{{ building.id }} = ratingcalc('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');
                            var ratingscount{{ building.id }} = ratingscount('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');


                            marker{{ building.id }}.addListener('click', function() {
                              opengallery('{{ building.streetname }}' , '{{ building.streetnumber }}','{{ building.yearbuilt }}','{{ building.stories }}','{{ building.res_units }}','{{ building.com_units }}',test{{ building.id }}, ratingscount{{ building.id }} , '{{ building.buildingtype }}' , '{{ building.area }}' , '{{ building.lotsize }}' , '{{ building.marketvalue }}' , 'media/{{ building.image.image }}' , '{{ building.five }}' , '{{ building.four }}' , '{{ building.three }}' , '{{ building.two }}' , '{{ building.one }}' , '{{ building.structure_type }}' , '{{ building.grade }}' , '{{ building.construction_type }}');
                               activebuilding = '{{ building.id }}';
                              if (opened_window.content != "null") { opened_window.close(); };
                              infowindow{{ building.id }}.open(map, marker{{ building.id }});
                              opened_window = infowindow{{ building.id }};
                            });
                    {% endfor %}
                    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4WVROGdkNgIh3kjV1lPZe6u4v4LCZG8&callback=initMap" async defer></script>
        </div>

      </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    </div>

    <script src="{% static "/uboapp/js/blueimp-gallery.min.js"%}"></script>

    <script src="{% static "/uboapp/js/main.js" %}"></script>


    </body>
</html>
