{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UBONYC</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <link rel="stylesheet" href="{% static "/uboapp/css/blueimp-gallery.min.css" %}">

        <link rel="stylesheet" href="{% static "/uboapp/css/style.css" %}">

        <script>
        var activebuilding;


        function slideshow(){
        blueimp.Gallery(
            [
                {
                    data: {urls: ['media/111_Kent_1.jpeg']}
                },
                {
                    data: {urls: ['media/111_Kent_2.jpeg']}
                }
            ],
            {
                urlProperty: 'data.urls[0]'
            }
        );
        }

        </script>

        <style>
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size :10;
            font-family : arial;
            }
        </style>
    </head>
    <body>

      <div id="container" class="center-div">
          <div class="title-div">
              <div class="menuitems" style="text-align:left; float:left">POST A NEW BUILDING</div>
              <div class="menuitems" style="text-align:center; float:left">UGLY BUILDINGS OF NEW YORK CITY</div>
              <div class="menuitems" style="text-align:right; float:left">ABOUT US</div>
          </div>


              <div class="content-div">





                  <div class="topgallery" style="float:top"><a onclick="slideshow();" href="#"><img id="galleryfront" src="{% static "/uboapp/ubo_blank.png"%}" width = "100%"></a></div>


                  <div class="data_container">

                  <div class="data_title"><p>----- BUILDING DATA -----</p></div>

                <div class="table">
                    <div class="row">
                        <div class="cell" style="width:90">ADDRESS : </div>
                        <div class="cell" id="street"></div>
                    </div>
                    <div class="row">
                        <div class="cell">TYPE : </div>
                        <div class="cell" id="buildingclass"></div>
                    </div>
                    <div class="row">
                        <div class="cell">YEAR BUILT : </div>
                        <div class="cell" id="year"></div>
                    </div>
                    <div class="row">
                        <div class="cell">STORIES : </div>
                        <div class="cell" id="stories"></div>
                    </div>
                    <div class="row">
                        <div class="cell">UNITS : </div>
                        <div class="cell" id="units"></div>
                    </div>

                    <div class="row">
                        <div class="cell">AREA : </div>
                        <div class="cell" id="area"></div>
                    </div>

                    <div class="row">
                        <div class="cell">LOT SIZE : </div>
                        <div class="cell" id="lotsize"></div>
                    </div>

                    <div class="row">
                        <div class="cell">MARKET VALUE : </div>
                        <div class="cell" id="marketvalue"></div>
                    </div>

                    <div class="row">
                        <div class="cell">UBO RATING (<text id="ratingscount">0</text>) : </div>
                        <div class="cell" id="rating">
                            <img id="one" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="two" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="three" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="four" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="five" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                        </div>
                    </div>
                </div>
              </div>

               <div class="voteform">
                    <p>----- PLEASE RATE ! -----</p>
                  <form action="/your-name/" method="post">
                      <input type="radio" name="gender" value="1">1 - Acceptable<br>
                      <input type="radio" name="gender" value="2">2 - Shows signs of ugliness<br>
                      <input type="radio" name="gender" value="3">3 - Eye Sore<br>
                      <input type="radio" name="gender" value="4">4 - Offensive<br>
                      <input type="radio" name="gender" value="5">5 - Truly Ugly&#8482<br>
                      <div  style="text-align: center; font-size='10'"><input type="submit" value="SUBMIT"></div>
                  </form>
                </div>
    </div>

      <div id="map" class="map-div">

    <script src="{% static "/uboapp/js/ubo.js" %}"></script>



	<script>
	function opengallery(street,number,year,stories,units,rating,ratingscount,buildingtype,area,lotsize,marketvalue,image){

	            document.getElementById("galleryfront").src = image;

                document.getElementById("street").innerHTML = number + ' ' + street;
                document.getElementById("year").innerHTML = year;
                document.getElementById("stories").innerHTML = stories;
                document.getElementById("units").innerHTML = units;
                document.getElementById("buildingclass").innerHTML = buildingtype;

                document.getElementById("area").innerHTML = area + " sqft";
                document.getElementById("lotsize").innerHTML = lotsize + " sqft";
                document.getElementById("marketvalue").innerHTML = "$" + marketvalue;

                document.getElementById("ratingscount").innerHTML = ratingscount;

                document.getElementById("one").src = "{% static "/uboapp/star_full.jpg"%}";

                if (rating < 1.5) {
                document.getElementById("two").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                }else{
                    if (rating < 2) {
                        document.getElementById("two").src = "{% static "/uboapp/star_half.jpg"%}";
                        document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                    }else{
                        if (rating < 2.5) {
                        document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                        document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                        }else{
                            if (rating < 3) {
                                document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                document.getElementById("three").src = "{% static "/uboapp/star_half.jpg"%}";
                                document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                                document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                            }else{
                                if (rating < 3.5) {
                                    document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                                    document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                }else{
                                    if (rating < 4) {
                                    document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("four").src = "{% static "/uboapp/star_half.jpg"%}";
                                    document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                    }else{
                                        if (rating < 4.5) {
                                            document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("four").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                        }else{
                                        if (rating < 5) {
                                            document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("four").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("five").src = "{% static "/uboapp/star_half.jpg"%}";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
          }
    }


      function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 40.720398, lng: 	-73.973944},
                      zoom: 13
                    });



                    var opened_window = new google.maps.InfoWindow({
                      content: "null"
                    });

                    {% for building in buildings %}
                            var marker{{ building.id }} = new google.maps.Marker({
                            position: {lat: {{ building.latitude }},
                            lng: {{ building.longitude }}},
                            map: map,

                            });

                            var contentString{{ building.id }} =
                                '<div><h5>{{ building.streetnumber }} {{ building.streetname }}</h5></div>' +
                                '<div class="bubble-div"><a onclick="slideshow(\'' + '{{ building.image.image }}' + '\')" href="#"><img height="100px" src="media/{{ building.image.image }}" alt="Orange"></a></div>'

                            var infowindow{{ building.id }}= new google.maps.InfoWindow({
                              content: contentString{{ building.id }}
                            });


                            var test{{ building.id }} = ratingcalc('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');
                            var ratingscount{{ building.id }} = ratingscount('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');


                            marker{{ building.id }}.addListener('click', function() {
                              opengallery('{{ building.streetname }}' , '{{ building.streetnumber }}','{{ building.yearbuilt }}','{{ building.stories }}','{{ building.units }}', test{{ building.id }}, ratingscount{{ building.id }} , '{{ building.buildingtype }}' , '{{ building.area }}' , '{{ building.lotsize }}' , '{{ building.marketvalue }}' , 'media/{{ building.image.image }}');
                               activebuilding = '{{ building.id }}';
                              if (opened_window.content != "null") { opened_window.close(); };
                              infowindow{{ building.id }}.open(map, marker{{ building.id }});
                              opened_window = infowindow{{ building.id }};
                            });
                    {% endfor %}
                    }
    </script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4WVROGdkNgIh3kjV1lPZe6u4v4LCZG8&callback=initMap"
    async defer></script>


        </div>

      </div>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    </div>

    <script src="{% static "/uboapp/js/blueimp-gallery.min.js"%}"></script>

    </body>
</html>
