{% load static %}

<html>
    <head>
        <title>UBONYC</title>

        <link rel="stylesheet" href="{% static "/uboapp/css/style.css" %}">

        <style>
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size :10;
            font-family : arial;
            }
        </style>
    </head>
    <body>

    <script>

            var comments{{ building.id }} = [,];

            {% for building in buildings %}
            if ('{{ building.comment }}'!='None') {
            var commentnum = 0;
            {% for comment in building.comments %}
            comments['{{ building.id }}',commentnum] = '{{ comment.comment }}';
            commentnum = commentnum + 1;
            {% endfor %}
            //alert(comments['{{ building.id }}','0']);
            };

            {% endfor %}
    </script>

      <div id="container" class="center-div">
          <div class="title-div">
              <h1><p>UGLY BUILDINGS OF NEW YORK CITY</p></h1>
          </div>

              <div id="content" class="content-div">
                  <div class="topgallery" style="float:top"><img id="galleryfront" src="media/111_Kent_1.jpeg" width = "100%"></div>

                  <div class="content_title"><p>----- BUILDING DATA -----</p></div>

                <div class="table">
                    <div class="row">
                        <div class="cell" style="width:90">ADDRESS : </div>
                        <div class="cell" id="street"></div>
                    </div>
                    <div class="row">
                        <div class="cell">YEAR BUILT : </div>
                        <div class="cell" id="year"></div>
                    </div>
                    <div class="row">
                        <div class="cell">STORIES : </div>
                        <div class="cell" id="stories"></div>
                    </div>
                    <div class="row">
                        <div class="cell">UNITS : </div>
                        <div class="cell" id="units"></div>
                    </div>
                    <div class="row">
                        <div class="cell">HEIGHT : </div>
                        <div class="cell" id="height"></div>
                    </div>

                    <div class="row">
                        <div class="cell">UBO RATING (<text id="ratingscount">0</text>) : </div>
                        <div class="cell" id="rating">
                            <img id="one" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="two" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="three" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="four" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                            <img id="five" height="15" src="{% static "/uboapp/star_empty.jpg"%}">
                        </div>
                    </div>
                </div>

                <div class="voteform">
                    <p>----- PLEASE RATE ! -----</p>
                  <form action="/your-name/" method="post">
                      <input type="radio" name="gender" value="1">1 - Acceptable<br>
                      <input type="radio" name="gender" value="2">2 - Shows signs of ugliness<br>
                      <input type="radio" name="gender" value="3">3 - Eye Sore<br>
                      <input type="radio" name="gender" value="4">4 - Offensive<br>
                      <input type="radio" name="gender" value="5">5 - Truly Ugly&#8482<br>
                      <div  style="text-align: center; font-size='10'"><input type="submit" value="SUBMIT"></div>
                  </form>
                </div>
    </div>

      <div id="map" class="map-div">

    <script src="{% static "/uboapp/js/ubo.js" %}"></script>



	<script>
	function opengallery(yes,street,number,year,stories,units,height,rating,ratingscount,image){

	            document.getElementById("galleryfront").src = image;

                document.getElementById("street").innerHTML = number + ' ' + street;
                document.getElementById("year").innerHTML = year;
                document.getElementById("stories").innerHTML = stories;
                document.getElementById("units").innerHTML = units;
                document.getElementById("height").innerHTML = height;

                document.getElementById("ratingscount").innerHTML = ratingscount;

                //alert(yes);
                //alert(comments[parseInt(yes),'1']);

                //document.getElementById("commentone").innerHTML = comments[yes,'0'];

                document.getElementById("one").src = "{% static "/uboapp/star_full.jpg"%}";

                if (rating < 1.5) {
                document.getElementById("two").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                }else{
                    if (rating < 2) {
                        document.getElementById("two").src = "{% static "/uboapp/star_half.jpg"%}";
                        document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                    }else{
                        if (rating < 2.5) {
                        document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                        document.getElementById("three").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                        document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                        }else{
                            if (rating < 3) {
                                document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                document.getElementById("three").src = "{% static "/uboapp/star_half.jpg"%}";
                                document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                                document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                            }else{
                                if (rating < 3.5) {
                                    document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("four").src = "{% static "/uboapp/star_empty.jpg"%}";
                                    document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                }else{
                                    if (rating < 4) {
                                    document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                    document.getElementById("four").src = "{% static "/uboapp/star_half.jpg"%}";
                                    document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                    }else{
                                        if (rating < 4.5) {
                                            document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("four").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("five").src = "{% static "/uboapp/star_empty.jpg"%}";
                                        }else{
                                        if (rating < 5) {
                                            document.getElementById("two").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("three").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("four").src = "{% static "/uboapp/star_full.jpg"%}";
                                            document.getElementById("five").src = "{% static "/uboapp/star_half.jpg"%}";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
          }
    }


      function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 40.720398, lng: 	-73.973944},
                      zoom: 13
                    });



                    var opened_window = new google.maps.InfoWindow({
                      content: "null"
                    });

                    {% for building in buildings %}
                            var marker{{ building.id }} = new google.maps.Marker({
                            position: {lat: {{ building.latitude }},
                            lng: {{ building.longitude }}},
                            map: map,

                            });

                            var contentString{{ building.id }} =
                                //'<div id="content" class="content">'+
                                //'<div id="siteNotice">'+
                                //'<h4>{{ building.streetnumber }} {{ building.streetname }}</h4>'+
                                //'</div>'+
                                //'<a onclick="opengallery(\'' + '{{ building.image.image }}' + '\')" href="#"><img height="100px" src="media/{{ building.image.image }}" alt="Orange"></a>'+
                                //'</div>';
                                '<div><h5>{{ building.streetnumber }} {{ building.streetname }}</h5></div>'

                            var infowindow{{ building.id }}= new google.maps.InfoWindow({
                              content: contentString{{ building.id }}
                            });


                            var test{{ building.id }} = ratingcalc('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');
                            var ratingscount{{ building.id }} = ratingscount('{{ building.one }}' ,'{{ building.two }}' ,'{{ building.three }}' ,'{{ building.four }}' ,'{{ building.five }}');


                            marker{{ building.id }}.addListener('click', function() {
                              opengallery('{{ building.id }}','{{ building.streetname }}' , '{{ building.streetnumber }}','{{ building.yearbuilt }}','{{ building.stories }}','{{ building.units }}','{{ building.height }}', test{{ building.id }}, ratingscount{{ building.id }} , 'media/{{ building.image.image }}');
                              //marker{{ building.id }}.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

                              if (opened_window.content != "null") { opened_window.close(); };
                              infowindow{{ building.id }}.open(map, marker{{ building.id }});
                              opened_window = infowindow{{ building.id }};
                            });
                    {% endfor %}
                    }
    </script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4WVROGdkNgIh3kjV1lPZe6u4v4LCZG8&callback=initMap"
    async defer></script>



    </div>
          </div>

    </body>
</html>
