        <style>



        .img {
          line-height: 100%;
        }


         .center-div
         {
         position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         width: 99%;
         height: 99%;
         vertical-align: middle;
         }

         .title-div
         {
         position: relative;
         height:2%;
         padding-top:2px;
         padding-bottom:2px;
         width: 100%;
         border-style:solid;
         border-width:thin;
         border-color:#000000;
         display: table;
         background-color : white;
         }

         .menuitems
         {
         width:33.3%;
         position:relative;
         display: table-cell;
         vertical-align: middle;
         }

         .menumain
         {
         width:100%;
         position:relative;
         display: table-cell;
         vertical-align: middle;
         }


         #init_div
         {
         position : relative;
         margin: 0px;
         padding-top:2px;
         float : left;
         width: 28%;
         height: 95%;
         vertical-align : middle;
         display: table;
         }


         #content-div
         {
         position : relative;
         margin: 0px;
         padding-top:2px;
         float : left;
         width: 28.2%;
         overflow:scroll;
         display : none;
         visibility : hidden;
         height: 96.5%;
         }


         #top_gallery
         {
         width : 100%;
         }

         .data_container
         {
         margin-top : 2px;
         border-style:solid;
         border-width:thin;
         border-color:#D8D8D8;
         padding-bottom :5px;
         padding-left : 2px;
         background-color : white;
         }

         #hidden_div
         {
         display : none;
         visibility : hidden;
         }

         .rating_section
         {
         border-style:solid;
         border-width:thin;
         border-color:#D8D8D8;
         overflow: hidden;
         padding-bottom : 2px;
         margin-top : 4px;
         padding-left : 2px;
         background-color : white;
         }

         .section_title
         {
         height : 20px;
         width : 100%;
         vertical-align: middle;
         text-align: center;
         margin-top:5px
         }

         .rating_details
         {
            width:60%;
            float:left;
         }

         .rating_grade
         {
            width:40%;
            float:right;
            vertical-align:middle;
            margin-top : 2px;
            align-content:center
         }

         #rating_digits
         {
            color:#eb6e01;
            font-size:5em;
            text-align: center;
         }

         .voteform
         {
         margin-top : 2px;
         padding-left : 2px;
         background-color : #fff5e6;
         visibility:hidden;
         display:none;
         }

         .rateform
         {
         margin-top : 2px;
         padding-left : 5px;
         background-color : #fff5e6;
         }

         .map-div
         {
         margin-top :2px;
         position : relative;
         float : right;
         width: 71.5%;
         height: 96.5%;
         }


         .bubble-div
         {
         display:none;
         }

         .voteform > p
         {
         text-align: center;
         }

         @media only screen
            and (min-device-width : 375px)
            and (max-device-width : 667px)
            and (orientation : portrait)
            {
            .menuitems{visibility:hidden; display:none}
            .menumain{font-size:0.8em; width:100%}
            .content-div{visibility : hidden; width : 0px}
            .map-div{width : 100%}
            .bubble-div{visibility:visible; display:inline; margin-top:5px;}
            }


         .outer { outline: 1px solid #eee; }
         .outer > p { display: table-cell; height: 20px; vertical-align: middle; }



        .table { display: table; margin-left:2px}
        .row { display: table-row; height:18px; margin: 0px; padding:0px; vertical-align: middle;}
        .cell { display: table-cell; height:18px; margin: 0px; padding:0px; vertical-align: middle; }

        .rating_bar {background-color:#eb6e01; height : 10px; width:100%}


        h5, h3
        {
        margin:0;
        }

         </style>